@{
    ViewData["Title"] = "Home Page";
}

<form action="/Home/PersonSearch" method="post">
    <input type="number" name="Id" placeholder="Enter a number" />
    <input type="submit" />
</form>
<form action="/Home/PlanetSearch" method="post">
    <input type="number" name="Id" placeholder="Enter a number" />
    <input type="submit" />
</form>